<!DOCTYPE html>
<html>

<head>
    <title>NCB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <img class="logo-image" src="/static/logo.png" />
                <a class="navbar-brand" href="#"> Narcotics Control Bureau</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="about-us">About Us</a>
                        <a class="nav-link" href="contact-us">Contact Us</a>
                    </div>
                </div>
            </div>
        </nav>


        <div class="page">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam,

            <img class="banner-image"
                src="https://images.unsplash.com/photo-1595946451139-ea402026bac5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80" />
            <div>
                <a class="btn btn-primary" href="/report" type="button">Report Drug Trafficking</a>
            </div>

        </div>

    </div>

</body>

</html>