{% extends 'base.html' %}

{% block page %}
<div class="page">
    <div class="home-text">
        The role of Narcotics Control Bureau (NCB) as the nodal agency on the matter of drug law enforcement in India
        has gained prominence in recent times. This is due to manifold reasons,
        both domestic and international. I am happy to see that NCB is coping with these challenges despite its limited
        manpower.
    </div>

    <img class="banner-image"
        src="https://images.unsplash.com/photo-1595946451139-ea402026bac5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80" />

    <div class="report-button">
        <a class="btn btn-primary" href="/report" type="button">Report Drug Trafficking</a>
    </div>

    <div class="footer">
        Note: The NCB logo is taken from wikipedia.com
    </div>
</div>
{% endblock %}