{% extends 'base.html' %}

{% block page %}
<div class="page report-page">


    <h2 class="title">Report Details</h2>

    <form method="POST" action="/report" class="submit-form">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Which place did the incident occur
                in?</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="place" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-4 col-form-label">When did the incident occur?</label>
            <div class="col-sm-8">
                <input class="form-control" name="time" type="datetime-local" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-4 col-form-label">What happened?</label>
            <div class="col-sm-8">
                <textarea type="textarea" class="form-control" name="description" rows="3" required></textarea>
            </div>
        </div>
        <!-- <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Do you have any photos of the
                incident?</label>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-sm">Upload Photos</button>
            </div>
        </div> -->

        <div class="report-button">
            <button class="btn btn-primary" type="submit">Report Drug Trafficking</a>
        </div>
    </form>

</div>

{% endblock %}