{% extends 'base.html' %}

{% block page %}
<div class="page success-page">


    <h2 class="title">Successfully Reported!</h2>

    <img class="success-image"
        src="https://cms-assets.tutsplus.com/cdn-cgi/image/width=850/uploads/users/523/posts/32694/final_image/tutorial-preview-large.png">


    <p>Thank you for reporting the incident!</p>

    <p>Your contribution can save the lives of many others!</p>


    <div class="footer">
        Note: The above image is taken from https://design.tutsplus.com
    </div>

</div>

</div>

{% endblock %}